<app-page-title
  [title]="'About Founder'"
  [image]="'assets/images/title-bg-2.webp'"
></app-page-title>
<div class="container-am py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center fw-bold">Dr. Ashutosh Karnatak</h1>
      <div class="py-3">
        <img
          src="assets/images/11.webp"
          class="rounded float-end shadow p-3 m-3 mt-0"
          height="400"
          alt=""
        />
        <p>
          Dr. Ashutosh Karnatak, Director (Projects), GAIL (India) Limited has
          resigned with effect from 21st May, 2020 and joined as Technical
          Member - Petroleum and Natural Gas in the Appellate Tribunal for
          Electricity. Dr. Ashutosh Karnatak stands relieved from the services
          of GAIL (India) Limited on the closing hours of 21st May 2020. Dr.
          Ashutosh Karnatak is an MTech from IIT Delhi, an MBA in Finance and a
          PhD from University of Petroleum & Energy Studies, Dehradun. He is a
          multi-talented personality who has developed innovative techniques and
          authored books on varied subjects. He did his BTech in Electrical
          Engineering from HBTI, Kanpur.
        </p>
        <p>
          He has rich experience of more than 38 years in managing large scale
          infrastructure projects from conceptualization to closure. He has
          expertise in contract management, conflict resolution, negotiation &
          innovative project monitoring techniques. He has authored books on the
          oil and gas sector (Asian Gas Grid – A critical analysis of its
          feasibility), Project Management (Project Management of Hydrocarbon
          Pipelines – A Journey) and self-development (Yes! You Can; Words Have
          Power). He is the proponent of the movement called PI-CI-PI (Positive
          India – Projectised India – Competent India). He has developed an
          innovative Project Monitoring and Controlling technique called Arjuna
          – (MC4E2)e, and a capability building model named BeDoPe. With this
          objective in mind, the project of developing self-development course
          on positive thinking is underway that can help people get rid of their
          negative thoughts and become a positive thinker, positive speaker and
          positive doer.
        </p>
        <p>
          A team of positive trainers from diverse backgrounds has been in the
          embryonic stage of its development that can help achieve this
          transformational objective: With likeminded team on board this mission
          is already getting the traction. These esteemed trainers who connect
          fabulously with audiences will help disseminate the positive thinking
          through a structured course help people change themselves for the
          plus. Some rounds of meeting have already happened and course content
          is already firming up. The trainers will start with a trial session to
          test the course content and feedback from the sample group of
          participants. After 3-4 trial sessions the final course with
          iterations incorporated will be developed in the form of modules with
          complete pedagogy. The course will go live in the month of September.
        </p>
        <p>
          To know more about the course, stay in touch as also we will keep you
          in the loop. The project of developing self-development course on
          positive thinking is underway that can help people get rid of their
          negative thoughts and become a positive thinker, positive speaker and
          positive doer. Trainers who connect fabulously with audiences will
          help disseminate the positive thinking through a structured course to
          help people change themselves for the plus.
        </p>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-between flex-wrap">
      <div class="hstack gap-3 flex-wrap">
        <div>Checkout -</div>
        <div class="btn btn-ys" routerLink="/vision">Vision</div>
        <div class="btn btn-ys" routerLink="/quotes">Quotes</div>
        <div class="btn btn-ys" routerLink="/gallery/photos">Photos</div>
        <div class="btn btn-ys" routerLink="/gallery/videos">Videos</div>
      </div>
      <div class="py-3">
        <app-social-links></app-social-links>
      </div>
    </div>
  </div>
</div>
