<div class="container-am bg-light-subtle">
  <div class="row py-5 justify-content-center overflow-hidden">
    <div class="col-12 col-lg-11">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 pb-3">
          <div class="text-center">
            <img
              src="assets/images/11.webp"
              class="rounded shadow mentor-img"
              height="auto"
              width="auto"
              alt="Mentor Image"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="vstack">
            <h2 class="mb-3 fw-bolder">Our Mentor</h2>
            <p class="fs-5">
              Dr. Ashutosh Karnatak, a seasoned professional with 38 years of
              experience, is known for his expertise in managing large-scale
              infrastructure projects. Holding an MTech from IIT Delhi, an MBA
              in Finance, and a PhD from the University of Petroleum & Energy
              Studies, he is a prolific author and a champion of the "PI-CI-PI"
              movement, promoting a Positive India, Projectised India, and
              Competent India. His innovative techniques and visionary
              leadership inspire positive change.
            </p>
            <div class="mt-3 d-flex justify-content-between flex-wrap">
              <div>
                <div class="btn btn-ys" routerLink="/about/founder">
                  Read More
                </div>
              </div>
              <div>
                <app-social-links></app-social-links>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
