<span>
  <a
    href="https://www.facebook.com/AshutoshKarnatakPlusApproach/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Facebook"
  >
    <iconify-icon class="fs-3 pe-2" icon="logos:facebook"></iconify-icon>
  </a>
</span>
<span>
  <a
    href="https://twitter.com/akarnatak"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Twitter"
  >
    <iconify-icon class="fs-3 pe-2" icon="logos:twitter"></iconify-icon>
  </a>
</span>
<span>
  <a
    href="https://www.linkedin.com/in/dr-ashutosh-karnatak-dba-36bb2a24"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="LinkedIn"
  >
    <iconify-icon class="fs-3 pe-2" icon="devicon:linkedin"></iconify-icon>
  </a>
</span>
<span>
  <a
    href="https://youtube.com/@DrAshutoshKarnatak?si=nOkn7eCqgbi_jxVM"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="YouTube"
  >
    <iconify-icon class="fs-3" icon="logos:youtube-icon"></iconify-icon>
  </a>
</span>
