<div class="container-am mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header bg-ys-dark-blue text-white">
              <h4 class="text-center my-2 fw-bold">Mentorship</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                We provide access to experienced mentors and coaches who can
                guide individuals in their personal and professional
                development. These mentors offer valuable insights and advice
                based on their own experiences.
              </p>
              <ul>
                <li>Success & Happiness Index</li>
                <li>Competence Development</li>
                <li>Health Management</li>
                <li>Financial Management</li>
                <li>Professional Management</li>
                <li>Spiritual Management</li>
                <li>Goal Setting and Measurement of Success</li>
                <li>Feedback</li>
              </ul>
              <div class="text-center pt-3">
                <div class="btn btn-ys" routerLink="/contact-us">
                  Book a Service
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header bg-ys-orange text-white">
              <h4 class="text-center my-2 fw-bold">Dr AK Astro-Clinic</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                This section is for professionals facing difficulties at the
                organization level or other segments like family, stakeholders,
                etc. We offer a safe space to discuss your issues and provide
                solutions.
              </p>
              <h4 class="card-subtitle">Enabler</h4>
              <ol>
                <li>Mention Your Issue</li>
                <li>Identification of Actors Related to the Same</li>
                <li>Action Taken So Far</li>
              </ol>
              <h4 class="card-subtitle">Solution</h4>
              <ol>
                <li>
                  After understanding the issue, based on experience and
                  research, a plausible solution will be given to you.
                </li>
                <li>You need to apply it.</li>
                <li>Confirm the impact after three months.</li>
              </ol>
              <div class="text-center pt-3">
                <div class="btn btn-ys" routerLink="/contact-us">
                  Book a Service
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header bg-ys-blue text-white">
              <h4 class="text-center my-2 fw-bold">Your Issues-Our Remedy</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                Get guidance from astro-sciences to succeed in life, also known
                as "Success Astrology." Our mentor with around 40 years of
                experience in this subject uses tools like Vedic Astrology, KP
                Astrology, Astakvarg (AV), and Vastu for astro-analysis.
              </p>
              <h4 class="card-subtitle">Methodology</h4>
              <ol>
                <li>Date, Time, and Place of Birth</li>
                <li>Your Question and Our Answer</li>
                <li>Detailed Horoscope Analysis Based on Astakvarg</li>
                <li>Online Consultations</li>
              </ol>
              <div class="text-center pt-3">
                <div class="btn btn-ys" routerLink="/contact-us">
                  Book a Service
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header bg-ys-green text-white">
              <h4 class="text-center my-2 fw-bold">Online Classes</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                This section is for the transfer of knowledge to the society at
                large. Some of the courses which are being planned are as
                follows:
              </p>
              <ul>
                <li>
                  <strong>"Yes, I Can"</strong> - Identification of the present
                  YIC index, developing the competence to do something great in
                  life
                </li>
                <li>
                  <strong>"Power of Positive Thinking"</strong> - Transformation
                  of the process of thinking
                </li>
                <li>
                  <strong>"Power of Astakvarg Astrology"</strong> - Awareness of
                  this Astro-subject and its fusion with KP astrology
                </li>
              </ul>
              <p>
                At the end of the period, participants will be issued two
                certificates:
              </p>
              <ol>
                <li>Course Completion Certificate</li>
                <li>
                  "Positive Ambassador – A Change Maker" from Plus Approach
                  Foundation, working on disseminating the positive thought
                  process among the masses
                </li>
              </ol>
              <div class="text-center pt-3">
                <div class="btn btn-ys" routerLink="/contact-us">
                  Book a Service
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
