.value {
  font-size: 70px !important;
  text-shadow: 2px 2px #000125;

}

.text-shadow {
  text-shadow: 2px 2px #000125;

}

.bg-image {
  background-size: cover;
}

.bg-image-overlay {
  background-color: rgba(0, 0, 0, 0.5);

}

.bg-pattern {
  background-image: url(/assets/images/pattern2.webp);
  background-size: cover;
  background-position: center;

}