<div class="d-flex justify-content-between py-3">
  <div>
    <h2>Youtube Videos</h2>
  </div>

  <div>
    <div class="btn btn-primary" (click)="openModal(AddVideo)">
      <iconify-icon icon="mdi:plus" class="fs-6 pe-2" inline></iconify-icon>Add
      Video Link
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table align-middle mb-0">
    <thead class="table-light">
      <tr>
        <th scope="col">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              [checked]="isAllCheckBoxChecked()"
              (change)="checkAllCheckBox($event)"
            />
            <label class="form-check-label" for="responsivetableCheck"></label>
          </div>
        </th>

        <th scope="col">Title</th>
        <th scope="col">Link</th>

        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="!showLoading">
      <tr *ngFor="let item of youtubeVideos; let i = index">
        <th scope="row">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="{{ item.id }}"
              [(ngModel)]="youtubeVideos[i].checked"
            />
            <label
              class="form-check-label"
              for="responsivetableCheck01"
            ></label>
          </div>
        </th>

        <td>
          {{ item.title }}
        </td>
        <td>
          {{ item.youtubeUrl }}
        </td>

        <!-- <td class="overflow-hidden">
          <div ngbDropdown container="body">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              ngbDropdownToggle
            >
              {{ getStatus(item) }}
            </button>
            <div ngbDropdownMenu>
              <button
                ngbDropdownItem
                (click)="updateStatus(item.id, 'Published')"
              >
                Published
              </button>
              <button
                ngbDropdownItem
                (click)="updateStatus(item.id, 'Upcoming')"
              >
                Upcoming
              </button>
              <button ngbDropdownItem (click)="updateStatus(item.id, 'Draft')">
                Draft
              </button>
            </div>
          </div>
        </td> -->
        <th scope="row">
          <div class="d-flex">
            <div
              class="btn btn-primary btn-sm me-2"
              (click)="openEditModal(EditVideoLink, item)"
            >
              <iconify-icon icon="mdi:pencil" inline></iconify-icon>
            </div>

            <div
              class="btn btn-danger btn-sm"
              (click)="deleteYoutubeVideoLink(item.id)"
            >
              <iconify-icon icon="mdi:trash" inline></iconify-icon>
            </div>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
  <div *ngIf="showLoading">
    <div
      class="d-flex justify-content-center align-items-center w-100 h-100 my-5 py-5"
    >
      <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="!showLoading && !count">
    <div
      class="d-flex flex-column justify-content-center align-items-center w-100 h-100 my-5 py-5"
    >
      <img src="assets/images/no-data.svg" alt="no data" />
      No Categories
    </div>
  </div>
  <ng-container *ngIf="count > 12 && !showLoading">
    <ngb-pagination
      (pageChange)="selectPage($event)"
      [pageSize]="12"
      [(page)]="page"
      [maxSize]="5"
      [rotate]="true"
      [collectionSize]="count"
      [boundaryLinks]="true"
      class="d-flex justify-content-end"
    ></ngb-pagination>
  </ng-container>
  <!-- end table -->
</div>

<ng-template #AddVideo let-modal>
  <div class="modal-header">
    <h4 class="m-0">Youtube Video Link</h4>
    <div class="btn-close cursor-pointer" (click)="modal.dismiss()"></div>
  </div>
  <div class="modal-body">
    <div class="my-3">
      <label class="form-label">Title</label>
      <input
        type="text"
        [(ngModel)]="title"
        class="form-control"
        placeholder="Enter Video Title"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Embed Link</label>
      <input
        type="text"
        [(ngModel)]="youtubeUrl"
        class="form-control"
        placeholder="Enter Youtube Embed Link"
      />
    </div>
    <div class="text-danger" [style.min-height.px]="25">
      {{ error }}
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn btn-primary" (click)="addYoutubeVideo()">Add</div>
  </div>
</ng-template>
<ng-template #EditVideoLink let-modal>
  <div class="modal-header">
    <h4 class="m-0">Edit Youtube Video Link</h4>
    <div class="btn-close cursor-pointer" (click)="modal.dismiss()"></div>
  </div>
  <div class="modal-body">
    <div class="my-3">
      <label class="form-label">Title</label>
      <input
        type="text"
        [(ngModel)]="selectedYoutubeVideo.title"
        class="form-control"
        placeholder="Enter Video Title"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Embed Link</label>
      <input
        type="text"
        [(ngModel)]="selectedYoutubeVideo.youtubeUrl"
        class="form-control"
        placeholder="Enter Youtube Embed Link"
      />
    </div>
    <div class="text-danger" [style.min-height.px]="25">
      {{ error }}
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn btn-primary" (click)="updateYoutubeVideoLink()">Update</div>
  </div>
</ng-template>
