<div class="container-am bg-light py-5 position-relative">
  <div class="row justify-content-start overflow-hidden">
    <div class="col-12 pb-2">
      <h2 class="mb-lg-5 mb-md-4 mb-3 fw-bold text-center">
        <span class="fw-bolder"> Our Services</span>
      </h2>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-3 col-12">
          <div
            class="card service-card shadow mb-4"
            routerLink="services"
            [style.min-height.px]="320"
          >
            <div class="card-header bg-ys-dark-blue text-white">
              <h4 class="text-center my-2 fw-bold">Mentorship</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Success &amp; Happiness index
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Competence development
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Health Management
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Financial Management
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Professional Management
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Spiritual management
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Goal Setting and measurement of success
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Feedback
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 col-12">
          <div
            class="card service-card-1 shadow mb-4"
            routerLink="services"
            [style.min-height.px]="320"
          >
            <div class="card-header bg-ys-orange text-white">
              <h4 class="text-center my-2 fw-bold">Dr AK Astro-Clinic</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Guidance from astro-sciences for success in life Known as
                  "Success Astrology".
                </li>

                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Experienced mentor with over 40 years in astrology.
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Utilizes tools like Vedic Astrology, KP Astrology, Astakvarg
                  (AV), and Vastu.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 col-12">
          <div
            class="card service-card-2 shadow mb-4"
            routerLink="services"
            [style.min-height.px]="320"
          >
            <div class="card-header bg-ys-blue text-white">
              <h4 class="text-center my-2 fw-bold text-nowrap">
                Your Issues-Our Remedy
              </h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Share your issue
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Identify relevant parties involved
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  Describe actions taken so far
                </li>
              </ul>
              <p class="card-text">
                <strong>Solution:</strong> We'll provide a practical solution
                based on experience and research, which you can implement and
                assess after three months.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3 col-12">
          <div
            class="card service-card-3 shadow mb-4"
            routerLink="services"
            [style.min-height.px]="320"
          >
            <div class="card-header bg-ys-green text-white">
              <h4 class="text-center my-2 fw-bold">Online Classes</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  &quot;Yes, I Can&quot;
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  &quot;Power of Positive Thinking&quot;
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>
                  &quot;Power of Astakvarg Astrology&quot;
                </li>
                <li>
                  <iconify-icon icon="mdi:check-circle"></iconify-icon>Proactive
                  Contract Management
                </li>
              </ul>
              <p class="card-text">
                At the end of the program, the participants will be issued
                certificates
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-3">
      <div class="btn btn-ys" routerLink="/contact-us">Book a Service</div>
    </div>
  </div>
</div>
