<app-page-title
  [title]="'About Academy'"
  [image]="'assets/images/title-bg-2.webp'"
></app-page-title>
<div class="container-am">
  <div class="row py-5">
    <div class="col-12">
      <h4 class="text-center fw-bold pb-3">
        Transformation Academy &quot;Sarathi&quot;
      </h4>
      <p>
        This academy aims to transform and coach the professionals and young
        generations to be successful &amp; happy, which are significant
        Indicators of the battlefield (Kurikshtra ) of life.
      </p>
      <p>
        Success and Happiness are subjective and can vary from person to person.
        It&#39;s essential to have a coaching and transformation program for
        each individual&#39;s unique needs and goals while keeping these
        overarching principles in mind, called
        <strong>
          MESH (Make everyone successful and happy) and act like
          &quot;Sarathi,&quot; which was done by Lord Krishna to Arjuna in the
          ballet of Mahabharata.</strong
        >
      </p>
      <p>
        The transformation is based on a
        <strong>&quot;Change in the process of thinking,&quot;</strong> leading
        to an inner feeling of <strong>&quot;Yes, I Can&quot;</strong> by
        germinating seeds of Positive thoughts by training the brain.
      </p>
    </div>
  </div>
</div>
