<div class="container-am quotes-bg-layer py-5 position-relative">
  <div class="row justify-content-center position-relative z-1">
    <div class="col-12">
      <h2 class="mb-lg-5 mb-md-4 mb-3 fw-bold text-center">
        <span class="fw-bolder text-white">Founder Quotes</span>
      </h2>
    </div>
    <div class="col-12 col-lg-10">
      <div class="card mb-4 quote-card text-white">
        <div class="card-body">
          <figure class="text-center m-0">
            <blockquote class="blockquote">
              <p>
                Success is nothing but the betterment of failures. Failures give
                us learnings for improvement, and the application of learnings
                in actions inches us towards success.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer text-end text-white m-0">
              Dr.<cite title="Source Title">Ashutosh Karnatak</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="card mb-4 quote-card text-white">
        <div class="card-body">
          <figure class="text-center m-0">
            <blockquote class="blockquote">
              <p>
                For success in any venture, one must convert Probability to
                Possibility, develop Strategy & Action Plan & Execute to get
                Desired delivery. Try it.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer text-end text-white m-0">
              Dr.<cite title="Source Title">Ashutosh Karnatak</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div class="btn btn-ys" routerLink="/quotes">More Wisdom Quotes</div>
      </div>
    </div>
  </div>
</div>
