<app-page-title [title]="'Services - Dr AK Astro-Clinic'"></app-page-title>
<div class="container-am my-5">
  <div class="row">
    <div class="col-12">
      <p>
        It is nothing but guidance from astro-sciences to succeed in life. In
        other terms, it could be called &quot;Success Astrology.&quot; The
        astro-analysis is done by a mentor with around 40 years of experience in
        this subject, using tools like Vedic- Astrology, KP astrology,
        Astakvarg(AV), and Vastu.
      </p>

      <h5 class="fw-bold">Methodology:</h5>
      <ol>
        <li>
          Enablers:
          <ul>
            <li>Date</li>
            <li>Time and Place of birth</li>
            <li>Profession</li>
          </ul>
        </li>
        <li>Your question and Our answer</li>
        <li>Detailed Horoscope analysis based on Astakvarg</li>
        <li>Online consultations</li>
      </ol>
      <div class="text-center pt-3">
        <div class="btn btn-ys" routerLink="/contact-us">Book a Service</div>
      </div>
    </div>
  </div>
</div>
