<app-page-title [title]="'Vision'"></app-page-title>
<div class="container-am py-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">
        Yes, I Can(YIC): An enabler to Success by Dr. Ak__
      </h2>
      <h3>My vision is:</h3>
      <ol class="ol-list">
        <li>Every youth in the country and the world to say: YIC</li>
        <li>Every mind has only one thought: YIC</li>
        <li>Every Disable to be able by inner mental conversation: YIC</li>
      </ol>
      <p>
        The vision is to align the individual mind with a thought YIC. In any
        country's development, the role of youth is paramount. In India, the
        youth population is around 65% out of 140 billion. Think of a
        transformation when they perceive and move forward towards any goal that
        "Yes, They Can".This thought overpowers all other thoughts, which is the
        mother thought ,essential for the sustaainbale growth of the country.
      </p>
      <div class="p-3 text-success">
        <p>Say YIC... when you are failed</p>
        <p>Say YIC... when nobody is with you</p>
        <p>Say YIC... when you are frustrated</p>
        <p>Say YIC... when nothing is moving</p>
        <p>Say YIC... when dreams get shattered</p>
        <p>Say YIC... when people have deserted</p>
        <p>Say YIC... when you are fatigued</p>
      </div>
      <p>
        This thought is having a double positive attack on the self. I the Word
        is surrounded by two positive words:
        <span style="color: red">Yes</span> (which is the most Powerful Word) is
        a sign of affirmation at the mental level. Different neuro-transmitters
        have to interact at the micro and cognitive levels to develop serotonin
        or dopamine hormones, making the individual ready to believe in
        capabilities and competencies to say to self, "<span style="color: red"
          >YES</span
        >." And CAN (this Word develops the capability to do something by you
        and encourages you to move ahead by crossing the barriers). When one
        says - "Let me try," at a cognitive level, Yes and Can react, and the
        mind instructs the person to take a step forward.
      </p>
      <p>
        One needs to understand this point; it is the reflection point to
        success.
      </p>
      <div>There are three stages of Success :</div>
      <ol class="fw-bold stage-list">
        <li>Self- Exploration</li>
        <li>Self-Empowerment (YIC)</li>
        <li>Self- Enlightenment (PEAK)</li>
      </ol>
      <p>
        YIC is the next stage of Self-Exploration, wherein any individual, after
        exploring and realizing the self, moves forward to empower the self with
        the attributes which give them to fight the battle of life. YIC will
        make one able, whereas PEAK will make one capable and super-able. YIC
        will help to convert the ability to inability. It is the stage when one
        has to understand and awaken the inherent dormant power. It has more
        impact on the internal than too mental strength physical, which is why:
      </p>
      <ol class="fw-bold can-list">
        <li>
          This CAN word made Mahatma Gandhi send out Britishers from India.
        </li>
        <li>
          This CAN word has made Oscar Pistorius known as Blade Runner, who has
          lost his two limbs.
        </li>
        <li>
          The CAN word has inspired Erik Weihenmayer, a blind to win over
          Everest.
        </li>
        <li>
          The strength of the CAN word has taken Arunima Sinha, who is not
          having both legs, and climbed Mount Everest.
        </li>
        <li>
          This CAN have made Dasrath Manjhi construct a 110 met road by citing
          the hill rock for 22 years,
        </li>
        <li>
          This CAN word made Abraham Lincoln the president who failed 21 time
        </li>
        <li>
          This CAN word has made Edison an inventor of the filament bulb who
          failed 99 times
        </li>
        <li>
          This CAN word has made Amitabh Bachhan as Big B, and all India Radio
          Calcutta did not selectutta
        </li>
        <li>
          This CAN word made M S Dhoni a legend, who was a ticket collector.
        </li>
        <li>
          This CAN make words have made my son Pranay get admission to "The
          University of Buffalo, the UnitedStates an MBA in 2022; he is failing
          miserably in the Pre-Board Examination at Amity University, India,
          ultimately with "YIC" secured a good position in IIT prelim to get
          admission in engineering and secured around 80% marks, got a job in
          prestigious multinational company SAP.
        </li>
      </ol>

      <p>
        The Word CAN impact the psychology of the person, which sometimes
        inspires an incapacitated person to do miracles. Based on the experience
        it can be said that CAN does the following internal transformations at
        the Pre-frontal beliefs (responsible for the day to activities and
        hippocampus - liable for memory) of the brain:
      </p>
      <p>Develops self-belief and confidence</p>
      <p>Develops optimism</p>
      <p>Develops Inner strength</p>
      <p>Develops fighting tendencies with the circumstances</p>
      <p>Takes the person from negativity or despair to Positivity</p>
      <p>Stimulates the person's dormant strength</p>
      <p>Converting disability to the ability to winnability</p>
      <p>
        YIC is the person's position when one can deliver the desired results.
        Primarily it is the person's ecosystem physically, mentally, and
        emotionally required to deliver the results. It can be easily understood
        by the example when the student, after completion of class 12 th, goes
        to a professional college for engineering, medicine, etc., after
        completion of the course, he is ready to deliver results as required by
        the engineer or a doctor, enabling him to say-"Yes, I can deliver as an
        Engineer or Doctor."
      </p>
      <h4>Power of "Yes, I Can: Inner Transformation:</h4>
      <p>
        YIC is not merely a concept by inner transformation as the Yes starts
        developing the mind's pre-frontal cortex, which deals with consciousness
        and day-to-day work. Based on the more affirmative approach, the
        hippocampus, which stores the memories, etc., is the subconscious mind.
        Yes starts developing other neurotransmitters to have pathways for
        transferring positive signals.
      </p>
      <p>
        "I" has tremendous power, which incites your internal thought process
        and ignites a fire in the belly i..e, you are making yourself understand
        that you need to move forward.
      </p>
      <p>
        "Can" could be related to inspiring lord Hanuman of Indian mythology,
        ie..e awakening the dormant potential, which at the mental level
        develops new neurons, called neurogenesis, instructing the pre-frontal
        cortex to move further amygdala (the "fear center") gets invoked, which
        produce stress hormones due to fear. "Can " means crossing barriers,
        overcoming fear, and developing the courage to move forward. The hormone
        production starts, and the Adrenaline and Noradrenalin start producing
        and take you out of the web of fear.
      </p>
      <p>
        I have validated this concept from my journey from "Engineer To Chairman
        of an Indian gas company having a turnover of around $ 8 billion.
      </p>
      <p class="fw-bold">
        So, why not chant "Yes, I Can; Yes, I Can; Yes, I Can" see daily when
        you get up after sleep and before sleep 108 times and develop an Inner
        feeling that You are a Winner?
      </p>
      <p>
        Although this chanting is beneficial to all ages but has more impact on
        children up to the age of 15, a point of stabilizing mental growth.If,
        till that time, the thought of "Yes, I Can" is engraved in the
        sub-conscious level, that would be a
        <b>great enabler to success</b> and, in particular, developing an inner
        force to encounter and cross the barrier mental as well as physical
        coming on the way to the objective.
      </p>
      <p>
        The concept is - we all should be a winner, i.e., whatever we decide, we
        should be able to achieve, so
      </p>
      <div class="text-red text-center"></div>
      <figure class="text-center">
        <blockquote class="blockquote text-red">
          <p>"Yes, I Can;</p>
          <p>Yes, You Can;</p>
          <p>Yes, We Can"</p>
          <p>( YIC, YUC, YWC)</p>
        </blockquote>

        <p class="text-center">
          I hope that readers would like this concept ,apply in their life and
          join the movement "Yes,I Can".
        </p>
        <figcaption class="blockquote-footer text-red text-end">
          Dr. Ashutosh Karnatak
        </figcaption>
      </figure>
    </div>
  </div>
</div>
