<div class="container-am p-0">
  <div class="row g-0">
    <div class="col-12 col-md-6 d-none d-md-block overflow-hidden">
      <img
        src="assets/images/contact-bg.webp"
        class="bg-img"
        width="auto"
        height="auto"
        alt="Background Image"
      />
    </div>
    <div class="col-md-6 py-5 overflow-hidden" #content>
      <div class="row justify-content-center h-100">
        <div class="col-9">
          <div
            class="d-flex h-100 justify-content-center align-items-center flex-column"
          >
            <h2 class="fw-bolder mb-4 text-center">
              Be a Changemaker <br />
              & <br />
              Positive Ambassador
            </h2>
            <div class="d-flex justify-content-center">
              <div class="btn btn-ys" routerLink="/contact-us">
                Become a Volunteer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
