<app-page-title [title]="'Services - Mentorship'"></app-page-title>
<div class="container-am my-5">
  <div class="row">
    <div class="col-12">
      <p>
        We will provide access to experienced mentors and coaches who can guide
        individuals in their personal and professional development. These
        mentors can offer valuable insights and advice based on their own
        experiences. One of the programs that has been exclusively designed for
        professionals is &quot;360 Deg&quot; managers, which has the following
        segments:
      </p>
      <ul>
        <li>Success &amp; Happiness index</li>
        <li>Competence development</li>
        <li>Health Management</li>
        <li>Financial Management</li>
        <li>Professional Management</li>
        <li>Spiritual management</li>
        <li>Goal Setting and measurement of success</li>
        <li>Feedback</li>
      </ul>
      <p>
        Further, we will also track the long-term impact on the lives of those
        we have coached.
      </p>
      <div class="text-center pt-3">
        <div class="btn btn-ys" routerLink="/contact-us">Book a Service</div>
      </div>
    </div>
  </div>
</div>
