<app-page-title [title]="'Services - Your Issues-Our Remedy'"></app-page-title>
<div class="container-am my-5">
  <div class="row">
    <div class="col-12">
      <p>
        This section is for the professionals who find difficulty at the
        organization level or any other segment like family, stakeholders, etc.
        It has been experienced that the professionals cannot discuss such
        issues with the boss or any other person, so here we are.
      </p>

      <h5 class="fw-bold">Enabler:</h5>
      <ol>
        <li>Mention your issue</li>
        <li>Identification of actors related to the same</li>
        <li>Detailed Horoscope analysis based on Astakvarg</li>
        <li>Action taken so far</li>
      </ol>
      <h5 class="fw-bold">Solution:</h5>
      <ol>
        <li>
          After understanding the issue, based on the experience and research, a
          plausible solution will be given to you.
        </li>
        <li>You need to apply it.</li>
        <li>Confirm the impact after three months.</li>
      </ol>
      <div class="text-center pt-3">
        <div class="btn btn-ys" routerLink="/contact-us">Book a Service</div>
      </div>
    </div>
  </div>
</div>
