<app-page-title [title]="'Services - Online Classes'"></app-page-title>
<div class="container-am my-5">
  <div class="row">
    <div class="col-12">
      <p>
        This section is for the transfer of knowledge to the society at large.
        Some of the courses which are being planned are as follows. At the end
        of the period, they will be issued two certificates :
      </p>

      <ol>
        <li>Course completion certificate</li>
        <li>
          <strong>&quot;Positive Ambassador – A Change Maker&quot;</strong> from
          Plus Approach Foundation, working on disseminating the positive
          thought process among the masses
        </li>
      </ol>
      <h6 class="fw-bold">Enablers: Minimum 11 participants</h6>
      <h6 class="fw-bold">Courses are :</h6>
      <ol>
        <li>
          <b>&quot;Yes, I Can&quot;</b> – Identification of the present YIC
          index, developing the competence to do something great in life
          Duration: Three Weekends (Saturdays)
        </li>
        <li>
          <div>
            <b>&quot;Power of Positive Thinking&quot;</b>: Transformation of the
            process of thinking Outcome: Change in the thought process as well
            as the perspective to be successful in life
          </div>
          <div><b>Duration:</b> 7 Weekends (Saturdays- Sundays)</div>
        </li>
        <li>
          <div>
            <b>&quot;Power of Astakvarg Astrology&quot;</b>: Awareness of this
            Astro-subject and its fusion with KP astrology
          </div>
          <div>
            <b>Outcome:</b> Will be able to find a suitable day, Time, week
            &amp; year, including many other unexplored segments of life –around
            21 life parameters, including success period and areas. Also, I will
            understand a new scientific method of Prediction based on planetary
            chemistry.
          </div>
          <br />
          <div><b>Duration:</b> 8 Weekends (Sundays)</div>
        </li>
      </ol>
      <p>Note: All courses will have Pre and Post course assessments.</p>

      <div class="text-center pt-3">
        <div class="btn btn-ys" routerLink="/contact-us">Book a Service</div>
      </div>
    </div>
  </div>
</div>
