<div class="bg-pattern py-5 position-relative">
  <div class="container-am">
    <div class="row justify-content-end overflow-hidden">
      <div class="col-12 col-lg-8">
        <div class="vstack">
          <h2 class="mb-lg-5 mb-md-4 mb-3 fw-bold text-center">
            <span class="fw-bolder"> YES I CAN - </span>
            <span>Academy</span>
          </h2>
          <p class="fs-5">
            <strong>Transformation Academy "Sarathi":</strong> This academy aims
            to transform and coach the professionals and young generations to be
            successful & happy, which are significant Indicators of the
            battlefield (Kurikshetra) of life. Success and Happiness are
            subjective and can vary from person to person.
          </p>
          <p class="fs-5">
            It's essential to have a coaching and transformation program for
            each individual's unique needs and goals while keeping these
            overarching principles in mind, called
            <strong>MESH (Make Everyone Successful and Happy)</strong> and act
            like "<strong>SARATHI</strong>," which was done by Lord Krishna to
            Arjuna in the ballet of Mahabharata. The transformation is based on
            a <strong>"Change in the process of thinking,"</strong> leading to
            an inner feeling of <strong>"Yes, I Can"</strong> by germinating
            seeds of Positive thoughts by training the brain.
          </p>
          <div class="mt-lg-5 mt-md-4 mt-3 text-center">
            <div class="btn btn-ys" routerLink="/about">Read More</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
