.bg-pattern {
  background-image: url(/assets/images/pattern1.webp);
  background-size: contain;
  background-position: 10%;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: auto;
}

@media (max-width: 992px) {
  .bg-pattern {
    background-image: none
  }
}