<div class="container-am h-100">
  <div class="row h-100">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center h-100 w-100">
        <div class="card shadow">
          <div class="card-body p-lg-5 mx-lg-3">
            <form [formGroup]="loginForm" *ngIf="loginForm">
              <div class="pb-3 text-center"><h2>Admin Login</h2></div>
              <div class="mb-3">
                <label class="form-label">Username</label>
                <input
                  type="email"
                  class="form-control form-control-lg"
                  formControlName="username"
                  placeholder="Enter your email"
                />
                <div
                  *ngIf="
                    loginForm.get('username')?.hasError('required') &&
                    checkValidation
                  "
                >
                  <i class="mdi mdi-alert-outline"></i> Username is required
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control form-control-lg"
                  placeholder="Enter your password"
                />
              </div>
              <div class="text-center pt-3">
                <div class="btn btn-primary" (click)="login()">Login</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
