<div class="row">
  <div class="col-12 py-3"><h3>Add Magazine</h3></div>
  <div class="col-12 col-md-6">
    <div>
      <label class="form-label">Magazine Cover Image</label>
      <p
        class="text-primary text-center cursor-pointer border rounded image-add"
        (click)="fileInput.click()"
        *ngIf="!image"
      >
        <iconify-icon icon="mdi:upload" inline></iconify-icon> Upload Cover
        Image
        <input
          #fileInput
          type="file"
          accept="image/jpeg, image/png"
          (change)="onSelect($event, imageModal)"
          hidden
        />
      </p>
      <div
        *ngIf="image"
        class="image-add position-relative border rounded mb-3"
      >
        <div
          class="position-absolute top-0 end-0 cursor-pointer"
          (click)="clearImage()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="#dc3545"
              d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12S6.47 2 12 2m3.59 5L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z"
            />
          </svg>
        </div>

        <img
          [src]="image"
          class="rounded object-fit-contain"
          width="90%"
          height="275"
          alt="article image"
        />
      </div>
    </div>
    <div class="mb-3">
      <div class="form-label">Choose PDF File</div>
      <input
        type="file"
        accept="application/pdf"
        (change)="onPdfFileSelect($event)"
        #pdfInputRef
      />
    </div>
  </div>

  <div class="col-12">
    <div
      class="d-flex flex-column justify-content-center align-items-start p-0 m-0 pb-2"
      *ngIf="isUploadStarted"
    >
      <div class="fw-bold">Uploading {{ uploadText }}</div>

      <p class="m-0 py-2 w-100">
        <ngb-progressbar
          type="info"
          [value]="progress"
          height="5px"
        ></ngb-progressbar>
      </p>
      <div class="fs-12 text-muted">
        {{ progress.toString() + "%" }} completed
        <span *ngIf="remainingTime">
          . {{ remainingTime | timeFormat }} remaining
        </span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="hstack gap-2">
      <div>
        <div
          class="btn btn-ys"
          *ngIf="!isUploadStarted"
          (click)="addMagazine()"
        >
          Add
        </div>
      </div>
      <div>
        <div class="btn btn-secondary" routerLink="/admin/magazine">Close</div>
      </div>
    </div>
  </div>
</div>
<ng-template #imageModal let-modal>
  <app-image-cropper
    (closeModal)="close()"
    (image)="updateImage($event)"
    (croppedImageUpdate)="updateImageFile($event)"
    [imageChangedEvent]="imageChangedEvent"
    [imageFileName]="imageFileName"
    [aspectRatio]="3 / 4"
  ></app-image-cropper>
</ng-template>
